{% extends "layout/basic.html" %}

{% block content %}
<div class="good">
	<div class="post">
		<div class="post-author">
			<div class="post-author-a">
				<div>
					Дата публикации: {{ post.pubdate|date:"d M Y H:i" }}
				</div>
			</div>
		</div>
		<div class="post-content">
			{{ post.content}}  {{ post.eventtime }} {{ post.eventdate }}<br>
			Количество свободных мест: {{ post.mesta }}<br>
			Цена: {{ post.stoim }}<br>
			<a href="{% url 'news:zapis' pk=post.pk %}" class="link">ЗАПИСАТЬСЯ ЛИЧНО</a>/<a href="{% url 'news:otpis' pk=post.pk %}" class="link">ОТПИСАТЬСЯ ЛИЧНО</a><br>
			<a href="{% url 'news:zapisg' pk=post.pk %}" class="link">ГРУППОВАЯ ЗАПИСЬ</a>/<a href="{% url 'news:otpisg' pk=post.pk %}" class="link">ОТПИСАТЬ ГРУППУ</a>
			{% if post.image %}
				<a href="{{ post.image.url }}"><img src="{{ post.image.url }}" class="media"></a>
			{% endif %}
			{% if post.video %}
				<video src="{{ post.video.url }}" class="media" controls="controls"></video><br>
			{% endif %}
			{% if post.audio %}
				<audio src="{{ post.audio.url }}" controls="controls"></audio><br>
			{% endif %}
			{% if post.file %}
				<a href='{{ post.file.url }}' target="-blank" class="file">{{post.filename}}</a><br>
			{% endif %}
			{% if user.is_superuser == 1 %}
				<a href="{% url 'news:delete_post' pk=post.pk %}"  class="link">Delete</a>
			{% endif %}
		</div>
	</div>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Добавить отзыв</button>
		</form><br>
		{% if comments %}
			{% for comment in comments %}
			<div class="comment">
				{{ comment.author }} {{ comment.pubdate|date:"d M Y H:i" }}<br>
				{{ comment.content|urlize }}<br>
			</div>
			{% endfor %}
		{% endif %}
</div>
{% endblock %}