{% extends "layout/basic.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="profile">
	{{user.username }}
	{% if user.avatar %}
      <img class="avatar" src="{{ user.avatar.url }}"><br><br>
    {% else %}
      <img class="avatar" src="\static\news\user.png"><br><br>
    {% endif %}
	{{user.first_name}} {{user.last_name}}<br>
	{{user.phone_num}}<br>
	{% if user.faculty %}
	{{user.get_faculty_display}}<br>
	{% endif %}
	{% if user.group %}
	{{user.group}}
	{% endif %}
	<div>
		<a href="{% url 'news:profile_change' %}"  class="link">Редактировать информацию профиля</a><br>
		<a href="{% url 'news:password_change' %}"  class="link">Изменить пароль</a><br>
		<a href="{% url 'news:profile_delete' %}"  class="link">Удалить аккаунт</a><br>
		<a href="{% url 'news:add' %}"  class="link">Создать событие</a><br>
		Созданые события:<br>
		<div>
			{% if your_posts %}
			{% for post in your_posts %}
				<div class="post">		
						<div class="post-content">
							Дата публикации: {{ post.pubdate|date:"d M Y H:i" }}<br>
							{{ post.content}}  {{ post.eventtime }} {{ post.eventdate }}<br>
							Количество свободных мест: {{ post.mesta }}<br>
							Цена: {{ post.stoim }}<br>
							<a href="{% url 'news:otpis' pk=post.pk %}" class="link">ОТПИСАТЬСЯ ЛИЧНО</a><br>
							<a href="{% url 'news:otpisg' pk=post.pk %}" class="link">ОТПИСАТЬ ГРУППУ</a>
							{% if post.image %}
								<a href="{{ post.image.url }}"><img src="{{ post.image.url }}" class="media"></a>
							{% endif %}
						</div>
					</div>
			{% endfor %}
			{% endif %}
		</div>
		Ваши записи:<br>
	</div>
	<div>
		{% if posts %}
			{% for post in posts %}
					<div class="post">		
						<div class="post-content">
							Дата публикации: {{ post.pubdate|date:"d M Y H:i" }}<br>
							{{ post.content}}  {{ post.eventtime }} {{ post.eventdate }}<br>
							Количество свободных мест: {{ post.mesta }}<br>
							Цена: {{ post.stoim }}<br>
							<a href="{% url 'news:otpis' pk=post.pk %}" class="link">ОТПИСАТЬСЯ ЛИЧНО</a><br>
							<a href="{% url 'news:otpisg' pk=post.pk %}" class="link">ОТПИСАТЬ ГРУППУ</a>
							{% if post.image %}
								<a href="{{ post.image.url }}"><img src="{{ post.image.url }}" class="media"></a>
							{% endif %}
						</div>
					</div>
			{% endfor %}
		{% else %}
			Записей нет
		{% endif %}
	</div>
</div>
{% endblock %}
