{% extends "layout/basic.html" %}
{% block title %}Трудовая и волонтерская деятельность{% endblock %}

{% block content %}

{% if user.id == 7 or user.id == 1  %}
		<a href="{% url 'news:add' %}"  class="link">Создать событие</a><br>
{% endif %}
{% if posts %}
{% for post in posts %}
{% if post.tags == 'trud' %}
	<div class="post">
		<div class="post-author">
			<div class="post-author-a">
			    <div>
					{% if post.tags == 'trud' %}
					<a href="{% url 'news:trud' %}" class="link">{{ post.get_tags_display}}</a><br>
					{% endif %}
					Дата публикации: {{ post.pubdate|date:"d M Y H:i" }}
				</div>
			</div>
			<div class="post-author-b">
				<a href="{% url 'news:detail' pk=post.pk %}" class="link">⋮</a>
			</div>
		</div>
		<div class="post-content">
			{{ post.content}}  {{ post.eventtime }} {{ post.eventdate }}<br>
			Количество свободных мест: {{ post.mesta }}<br>
			Цена: {{ post.stoim }}<br>
			{% if user.is_authenticated %}
				{% for post in your_zapisi %}
					Вы записаны<br>
				{% endfor %}
			{% endif %}
			{% if post.image %}
				<a href="{{ post.image.url }}"><img src="{{ post.image.url }}" class="media"></a>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}